{% assign item = include.item %}


<!-- each item has a generic anchor and, optionally, an "actual" anchor from `item.refanchor` -->

{% assign _generic_anchor = "generic-ref-" | append: item.title | slugify  %}
{% assign _item_anchor = _generic_anchor %}

<span class="generic refanchor" id="{{_generic_anchor}}" name="{{_generic_anchor}}">
</span>
{% if item.reflink  %}
    {% assign _actual_anchor = 'reflink-' | append: item.reflink %}
    {% assign _item_anchor = _actual_anchor %}
    <span class="actual refanchor" id="{{_actual_anchor}}" name="{{_actual_anchor}}">
    </span>
{% endif %}

{% assign _item_permalink = site.fullindex_path | append: '#' | append: _item_anchor %}



<section class="item">

    <h3 class="item-title title">
        <a href="{{ item.url }}">{{item.title | markdownify }}</a>
    </h3>

    <div class="byline">
        {% assign pubmeta = item.publishmeta  %}
        <div class="authors">
            {% for author in pubmeta.authors  %}
                <span class="author"><a href="{{author.url}}">{{author.name}}</a></span>
            {% endfor %}
        </div>
        <div class="published">
            Published

            {% if pubmeta.publisher %}
                at
                <span class="publisher">
                    <a href="{{pubmeta.publisher.url}}">{{pubmeta.publisher.name}}</a>
                </span>
            {% endif %}
            {% if pubmeta.date %}
                on
                <span class="date date-published" date-utc="{{pubmeta.date}}">
                    {{ pubmeta.date}}
                </span>
            {% endif %}

        </div>

        {% if item.authors %}



        {% endif %}
    </div>

    <div class="item-description description">

        {% if item.summary %}
            {{ item.summary | markdownify }}
        {% else %}
            {{ item.description | markdownify }}
        {% endif %}




        <span class="debug tk">
            <a href="{{_item_permalink | absolute_url }}">
                {{_item_permalink}}
            </a>
        </span>

    </div>

    {% if item.examples %}

        {% include item-examples.html examples=item.examples %}

    {% endif %}



</section>
