{% assign item = include.item %}


<!-- each item has a generic anchor and, optionally, an "actual" anchor from `item.refanchor` -->

{% assign _generic_anchor = "generic-ref-" | append: item.title | slugify  %}
{% assign _item_anchor = _generic_anchor %}

<span class="generic refanchor" id="{{_generic_anchor}}" name="{{_generic_anchor}}">
</span>
{% if item.reflink  %}
    {% assign _actual_anchor = 'reflink-' | append: item.reflink %}
    {% assign _item_anchor = _actual_anchor %}
    <span class="actual refanchor" id="{{_actual_anchor}}" name="{{_actual_anchor}}">
    </span>
{% endif %}

{% assign _item_permalink = site.fullindex_path | append: '#' | append: _item_anchor %}

<section class="item">
    <div class="media">
        {% if item.images.thumbnail %}
            {% assign _imgpath = item.images.thumbnail.path %}
        {% else %}
            {% assign _imgpath = 'static/images/items/thumbnails/lorem-ipsum-tk.png' %}

        {% endif %}
        <img class="align-self-start mr-3 img-thumbnail item-thumb" src="{{_imgpath | relative_url}}" alt="">

        <div class="media-body">
            <h3 class="item-title title">
                <a href="{{ item.url }}">{{item.title  }}</a>
            </h3>


            {% if item.publishmeta %}
                {% include item-pubmeta.html pubmeta=item.publishmeta %}
            {% endif %}

            <div class="item-description description">

                {% if item.description %}
                    {{ item.description | markdownify }}
                {% else %}
                    {{ item.blurb  }}
                {% endif %}

                <span class="debug tk" style="display:none;">
                    <a href="{{_item_permalink | absolute_url }}">
                        ⚓
                    </a>
                </span>

            </div>

            {% if item.examples %}

                {% include item-examples.html examples=item.examples %}

            {% endif %}
        </div>
    </div>
</section>
