    <header id="site-header" class="header">
<!--       <nav>
        <li class="title"><a href="{{ '/' | absolute_url }}">Homepage</a></li>
        <li class="fullindex"><a href="{{ site.fullindex_path | absolute_url }}">Full Index</a></li>
        <li class="fork"><a href="{{ site.github.repository_url }}">View On GitHub</a></li>
      </nav>
 -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">


    <a class="navbar-brand" href="{{ '/' | absolute_url }}">The Data Journalism Primer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
<!--         <a class="nav-item nav-link active" href="{{ '/' | absolute_url }}">Home <span class="sr-only">(current)</span></a>
 -->
        <a class="nav-item nav-link" href="{{ site.fullindex_path | absolute_url }}">FullIndex</a>
        <a class="nav-item nav-link" href="{{ site.github.repository_url }}">Github</a>
      </div>
    </div>
  </div>

</nav>


    </header><!-- end header -->
