---
layout: default
---

<!--
    TK: Should this be an include, e.g. _includes/cluster.html
 -->

{% assign clusterpage = page %}

{% assign _rawcurations = site.data.curations[clusterpage.cluster_folder] %}
{% assign curations = "" | split: "," %}

{% for _rc in _rawcurations %}
    {% assign _el = _rc[1] %}

    {% assign curations = curations | push: _el %}
{% endfor %}

{% assign curations = curations | sort: 'sortorder','last' %}


    <section class="curations">


        {% for c in curations %}

            {% include curation-section.html curation=c %}

        {% endfor %}

    </section>



<!-- DTK: define clusters by their collection page meta, not JSON files

<div class="cluster-page">

    <h1 class="cluster-title title">
        {{clusterpage.title}}
    </h1>

    <div class="cluster-description description">
        {{clusterpage.description}}
    </div>


</div>
 -->

<!--
<section class="tk debug">

<h2>raw curations</h2>

<code>
    {{ _rawcurations}}
</code>


<h2>curations sorted</h2>
<code>
    {{curations | jsonify}}
</code>


</section>
 -->
